<div class="min-h-screen flex items-center justify-center bg-slate-50 p-4">
    <div class="w-full max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow-sm sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700">
      <form class="space-y-6" [formGroup]="signupForm" (ngSubmit)="signup()">
        <h5 class="text-xl font-medium text-gray-900 dark:text-white">Create a new account</h5>
        <div>
          <input-reusable 
            [labelText]="'Your email'" 
            [labelFor]="'email'" 
            inputType="email" 
            [placeholder]="'name@company.com'" 
            formControlName="email"
          />
        </div>
  
        <div [formGroupName]="'passwords'">

            <div>
                <input-reusable 
                [labelText]="'Your password'" 
                [labelFor]="'password'" 
                inputType="password" 
                [placeholder]="'••••••••'" 
                formControlName="password"
                />
            </div>
            
            <div class="mt-6">
                <input-reusable 
                [labelText]="'Confirm password'" 
                [labelFor]="'confirmPassword'" 
                inputType="password" 
                [placeholder]="'••••••••'" 
                formControlName="confirmPassword"
                />
            </div>
        </div>
  
        <button 
          [disabled]="authFacade.isLoading() || signupForm.invalid" 
          type="submit" 
          class="w-full text-white bg-sky-800 hover:bg-sky-900 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-sky-600 dark:hover:bg-sky-700 dark:focus:ring-sky-800 disabled:bg-gray-400"
        >
          Create account
        </button>
  
        <!-- Login Link (Reversed from Login Page) -->
        <div class="text-sm font-medium text-gray-500 dark:text-gray-300">
          Already registered? <a [routerLink]="'/login'" class="text-sky-800 hover:underline dark:text-sky-500">Sign in</a>
        </div>
      </form>
    </div>
  </div>